:root{
--yellow: hsl(47, 88%, 63%)
--white: hsl(0, 0%, 100%)
--gray 500: hsl(0, 0%, 42%)
--gray 950: hsl(0, 0%, 7%)
}

body {
  margin: 0;
  background-color: hsl(47, 88%, 63%);
}







.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
